{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration{% endblock %}

{% block main %}
    <p>Utilisez le menu pour modifier la landing page, les zones, les conseils et les demandes d'intervention.</p>
{% endblock %}
